<form style="margin-left: 20px;">
 <div class="form-group">
   <label for="nome">Nome:</label>
   <input type="text" class="form-control" id="nome" required #nome>
 </div>
 <button type="submit" class="btn btn-primary" (click)="salvar(nome.value)">inscrever-se</button>
 <button type="reset" class="btn btn-danger" style="margin-left:10px;">Limpar Campos</button>
</form>
