<br>
<table class="table table-striped" style="margin-left: 20px;">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody *ngFor="let nome of nomes">
      <tr>
        <td>{{nome.nome}}</td>
        <td>{{nome.nome}}@example.com</td>
    </tbody>
  </table>
